<div class="container m-3 d-flex flex-column align-items-center flex-xs">
  <div class="card shadow-lg" >
    <div class="card-body ">
      <div class="view p-6 ">
        <div class="row">
          <div class="col-5">
            <b>Name</b>
          </div>
          <div class="col-7">
            {{ table.name }}
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-5">
            <b>Type</b>
          </div>
          <div class="col-7">
            {{ table.type }}
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-5">
            <b>Override Premium</b>
          </div>
          <div class="col-7">
          <input class="mx-2 my-1" type="checkbox" name="premium" id="premium" [checked]="table.premium" disabled />
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-5">
            <b>Description</b>
          </div>
          <div class="col-7">
            {{ table.description }}
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-5">
            <b>Comment</b>
          </div>
          <div class="col-7">
            {{ table.comment }}
          </div>
        </div>
        <hr>

      </div>
    </div>
  </div>
</div>