<div class="container mx-auto">
    <div class="card m-5">
      <div class="card-body ">
        <h5 class="card-title">CRUD Operations for Table Maintenance</h5>
        <p class="card-text">
         
  
          <strong>Create:</strong> The "Create" operation allows users to add new records to the table. Users can input
          relevant data through a user-friendly interface and then save the data to the table.
          <br><br>

          <strong>Read:</strong> The "Read" operation involves displaying existing records in a structured manner. This can
          include listing records in a table, allowing users to search, sort, and view details.
          <br><br>

          <strong>Update:</strong> The "Update" operation enables users to modify existing records. Users can select a record,
          edit the relevant information, and save the changes back to the table.
          <br><br>

          <strong>Delete:</strong> The "Delete" operation allows users to remove unwanted records from the table. Users typically
          confirm their intent before the record is permanently deleted.
          <br><br>

          By incorporating these CRUD operations into your table maintenance system, you empower users to efficiently manage data
          while maintaining data integrity and a seamless user experience.
        </p>
      </div>
    </div>
  </div>
  